{% extends 'management/base.html' %}

{% block content %}
    <h2>Registrar Renta</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Guardar Renta</button>
    </form>
{% endblock %}

{% block extra_css %}
    <style>
        .btn {
            background-color: #f44336;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #da190b;
        }
    </style>
{% endblock %}
